<footer>
  <div class="row">
    <div class="span6">
      <nav>
        <%= link_to '', 'http://facebook.com/academybackstage', class: 'social facebook', alt: 'Facebook', target: '_blank' %>
        <%= link_to '', 'http://vk.com/art_academy_kiev', class: 'social vk', alt: 'VK', target: '_blank' %>
        <%= link_to '', 'http://plus.google.com/116287693917336314047?rel=author', class: 'social google', alt: 'Google Plus', target: '_blank' %>
        <%= link_to '', 'http://twitter.com/ArtAcademyKiev', class: 'social twitter', alt: 'Twitter', target: '_blank' %>
      </nav>
    </div>
    <div class="span6 pull-right">
      <p class="muted text-right"><%= @address %>, Tel: <%= @phone1 %></p>
    </div>
  </div>
</footer>
