<header class="visible-desktop">
  <div id="logo"><%= link_to image_tag('backstage2.png'), root_path %></div>
  <!--<div id="discount"><%#= link_to image_tag('50off.png'), root_path %></div>-->
  <nav id="nav" class="inline">
    <li><%= link_to 'О нас', about_path, class: 'nav_about' %></li>
    <li><%= link_to 'Расписание', opening_path, class: 'nav_opening' %></li>
    <li class="hairstyle-link">
      <%= link_to 'Салон', '#', class: 'nav_pricelist' %>
      <div id="nav-hairstyle">
        <%= link_to 'Мужской зал', price_men_path, class: 'subnav_men' %>
        <%= link_to 'Женский зал', price_women_path, class: 'subnav_women' %>
        <%= link_to 'Детский зал', price_children_path, class: 'subnav_children' %>
      </div>
    </li>
    <li class="courses-link">
      <%= link_to 'Академия', courses_path, class: 'nav_courses' %>
      <div id="nav-courses">
        <% if defined? @courses %>
          <% @courses.each do |c| %>
              <%= link_to c.name, c, class: "subnav_course_#{c.id}" %>
          <% end %>
        <% end %>
      </div>
    </li>
    <li><%= link_to 'Цены', price_courses_path, class: 'nav_pricelist_courses' %></li>
    <li><%= link_to 'Команда', team_path, class: 'nav_team' %></li>
    <li><%= link_to 'Портфолио', portfolio_path, class: 'nav_portfolio' %></li>
    <li><%= link_to 'Контакты', contacts_path, class: 'nav_contacts' %></li>
  </nav>
</header>
<header class="hidden-desktop">
  <div class="navbar">
    <li class="nav-header"><%= link_to 'Art academy', root_path, class: 'brand' %></li>
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="nav-collapse collapse">
    <ul class= "nav nav-list">
        <li><a href="<%= root_path %>"><i class="icon-home"></i> Главная</a></li>
        <li><a href="<%= about_path %>"><i class="icon-info-sign"></i> О нас</a></li>
        <li><a href="<%= opening_path %>"><i class="icon-time"></i> Расписание</a></li>
        <li><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo">
            <i class="icon-leaf"></i>Салон
            </a></li>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  <ul class="nav nav-list">
                    <li><%= link_to 'Мужской зал', price_men_path  %></li>
                    <li><%= link_to 'Женский зал', price_women_path  %></li>
                    <li><%= link_to 'Детский зал', price_children_path  %></li>
                  </ul>
                </div>
            </div>
        <li><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <i class="icon-th-list"></i>Академия
        </a></li>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="nav nav-list">
              <% @courses.each do |c| %>
                  <li><%= link_to c.name, c %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <li><a href="<%= price_courses_path %>"><i class="icon-list-alt"></i> Цены</a></li>
        <li><a href="<%= team_path %>"><i class="icon-user"></i> Команда</a></li>
        <li><a href="<%= portfolio_path %>"><i class="icon-th-large"></i> Портфолио</a></li>
        <li><a href="<%= contacts_path %>"><i class="icon-envelope"></i> Контакты</a></li>
    </ul>
    </div>
  </div>
</header>

<script type="text/javascript">
  $(document).ready(function(){
      var _active_menu;
      <% if @active_menu.is_a? String %>
        _active_menu = '<%= @active_menu %>';
      <% elsif @active_menu[:course_id].present? %>
        _active_menu = {"controller": "<%= @active_menu[:controller] %>", "action": "<%= @active_menu[:action] %>", "course_id": "<%= @active_menu[:course_id] %>"};
      <% else %>
        _active_menu = {"controller": "<%= @active_menu[:controller] %>", "action": "<%= @active_menu[:action] %>"}
      <% end %>
      console.log(_active_menu);
      if(typeof _active_menu == 'string'){
          $('.nav_'+_active_menu).addClass('active');
      }else{
          if(_active_menu['course_id']){
              $('.nav_'+_active_menu['controller']).addClass('active');
              $('.subnav_course_'+_active_menu['course_id']).addClass('active');
          }else{
              $('.nav_'+_active_menu['controller']).addClass('active');
              $('.subnav_'+_active_menu['action']).addClass('active');
          }
      }
  });
</script>