<header class="hidden-phone">
  <div id="logo"><%= link_to image_tag('backstage2.png'), root_path %></div>
  <nav id="nav" class="inline">
    <%= link_to 'О нас', about_path %>
    <%= link_to 'Время работы', opening_path %>
    <li class="courses-link" style="display: inline-block">
      <%= link_to 'Курсы', courses_path %>
      <div id="nav-courses">
        <% @courses.each do |c| %>
            <%= link_to c.name, c %>
        <% end %>
      </div>
    </li>
    <%= link_to 'Цены', prices_path %>
    <%= link_to 'Команда', team_path %>
    <%= link_to 'Портфолио', root_path %>
    <%= link_to 'Контакты', root_path %>
  </nav>
</header>
<header class="visible-phone">
  <ul class="nav nav-list">
    <li class="nav-header">Backstage</li>
    <li><%= link_to 'Главная', root_path %></li>
    <li><%= link_to 'О нас', about_path %></li>
    <li><%= link_to 'Время работы', opening_path %></li>
    <li><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
      Курсы
    </a></li>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="nav nav-list">
          <li><%= link_to 'Маникюр/Педикюр', root_path %></li>
          <li><%= link_to 'Визаж', root_path %></li>
          <li><%= link_to 'Парикмахерское исс-во/Колористика', root_path %></li>
          <li><%= link_to 'Вечерние прически', root_path %></li>
        </ul>
      </div>
    </div>
    <li><%= link_to 'Цены', prices_path %></li>
    <li><%= link_to 'Команда', team_path %></li>
    <li><a href="#">Портфолио</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
</header>