<div id='index-page' class='pages'>
  <div id='home-show'>
    <%= image_tag('collage_1_vintage.jpg', id: 'show-pic1', class: 'show-pic active') %>
    <%= image_tag('collage_2_vintage.jpg', id: 'show-pic2', class: 'show-pic') %>
    <%= image_tag('collage_3_vintage.jpg', id: 'show-pic3', class: 'show-pic') %>
    <%= image_tag('collage_4_vintage.jpg', id: 'show-pic4', class: 'show-pic') %>
    <%= image_tag('collage_5_vintage.jpg', id: 'show-pic5', class: 'show-pic') %>
  </div>
</div>