<div id="courses-page">
  <% @courses.each do |course| %>
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h3><%= link_to course.name, course %></h3>
            <% if course.picture.present? %>
                <ul class="thumbnails">
                  <li class="thumbnail">
                    <%= image_tag course.picture :medium %>
                  </li>
                  <p><%= truncate(course.description, length: 500, separator: ' ') %></p>
                </ul>
            <% else %>
                <p><%= truncate(course.description, length: 500, separator: ' ') %></p>
            <% end %>
            <%= link_to 'Подробнее', course, class: 'btn btn-large' %>
          </div>
        </div>
      </div>
  <% end %>
</div>
