<div id="courses-page">
  <div class="row-fluid">
    <div class="span12">
      <% @courses.each do |course| %>
          <div class="hero-unit">
            <h3><%= link_to course.name, course %></h3>
            <hr>
            <% if course.picture.present? %>
                <ul class="thumbnails">
                  <li class="thumbnail">
                    <%= image_tag course.picture :medium %>
                  </li>
                  <p><%= truncate(course.description, length: 500, separator: ' ') %></p>
                </ul>
            <% else %>
                <p><%= truncate(course.description, length: 500, separator: ' ') %></p>
            <% end %>
            <%= link_to 'Подробнее', course, class: 'btn btn-large' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
