<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Course options:</b>
  <% @course.course_options.each do |option| %>
    <%= option.name %><br>
    <%= option.duration %><br>
    <%= option.price_uah %><br>
    <%= option.price_usd %><br>
  <% end %>
</p>