<div id='prices-page' class='pages'>
  <% @courses.each do |course| %>
      <% if course.course_options.present? %>
          <div class="hero-unit">
            <h4 class="dark-grey"><%= course.name %></h4>
            <table class='table table-striped table-bordered table-hover'>
              <thead class='dark-grey'>
              <tr>
                <th>Тип курса</th>
                <th>Продолжительность</th>
                <th>Количество часов</th>
                <th>Количество уроков</th>
                <th>Цена (грн)</th>
              </tr>
              </thead>
              <% course.course_options.each do |option| %>
                  <tbody>
                  <tr>
                    <td><%= "#{option.name}" %></td>
                    <td><%= "#{option.duration} дней" %></td>
                    <td><%= "#{option.hours} часов" %></td>
                    <td><%= "#{option.lessons} уроков" %></td>
                    <td><%= option.price_uah %></td>
                    <!--<td><%#= raw('&#8372;&nbsp;')+"#{option.price_uah}" %></td>-->
                    <!--<td><%#= raw('$&nbsp;')+"#{option.price_usd}" %></td>-->
                  </tr>
                  </tbody>
              <% end %>
            </table>
          </div>
      <% end %>
  <% end %>
</div>