<!DOCTYPE html>
<html>
<head>
  <title>Backstage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Backstage" %></title>
  <meta name="description" content="">
  <link rel="author" href="https://plus.google.com/109674655432573806233" />
  <link rel="author" href="https://twitter.com/go7hic" />
  <link rel="author" href="https://www.facebook.com/ronen.verdi" />
  <meta name="author" content="Ronen Verdi">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Roboto:400,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <div id="main" role="main">
    <div class="container">
      <%= render :partial => 'shared/header' %>
      <div class="content">
        <%= render 'shared/messages' %>
        <%= yield %>
      </div>
      <%= render :partial => 'shared/footer' %>
    </div> <!--! end of .container -->
  </div> <!--! end of #main -->
</body>
</html>
